.app {
    position: fixed; 
    z-index: 999;
    right: 10px;
    min-height: 50vh; 
    width: 300px; 
    background: linear-gradient( 50deg, #fff 20%, #276cc5 80%, #0b2f5f); 
    border: 1px solid rgb(82, 107, 130);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 380px) and (max-width: 900px) {
        top: 10px; 
    }


    @media screen and (max-width: 500px) {
        max-height: 100vh;
        top: 50px; 
    }

    @media screen and (min-width: 1024px) {
        max-height: 65vh;
        top: 50px;
    }
}